<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="cordova-plugin-mparticle"
           version="1.0.4">
    <name>MParticle</name>
    <js-module src="www/mparticle.js" name="mparticle">
        <clobbers target="mparticle" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MParticle" >
                <param name="android-package" value="com.mparticle.cordova.MParticleCordovaPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/src/main/java/com/mparticle/cordova/MParticleCordovaPlugin.java" target-dir="src/android/src/main/java/com/mparticle/cordova/MParticleCordovaPlugin.java" />
        <framework src="com.mparticle:android-core:+"/>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MParticle">
                <param name="ios-package" value="CDVMParticle"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVMParticle.m" />
        <framework src="mParticle-Apple-SDK" type="podspec" spec=""/>
    </platform>
</plugin>
